.cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: overlay;
  max-height: 300px;
}

.cart div {
  width: 100%;
}
