.link {
  display: flex;
  transition: opacity .2s ease-in-out;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
}

.link:hover {
  opacity: 0.7;
}

.activeLink {
  color: #F2F2F3;
}

.activeLink:hover {
  opacity: 1;
}

.activeLink svg {
  fill: #F2F2F3;
}

.button:first-child {
  margin-right: 8px;
}

.button:hover {
  opacity: 0.7;
}

