.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F2F2F3;
  padding-top: 16px;
}

.orderId {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.gif {
  height: 120px;
}

.message {
  padding-top: 150px;
  padding-bottom: 225px;
  text-align: center;
}
