.container {
  display: flex;
  flex-direction: column;
}

.form {
  position: relative;
  z-index: 1;
}

.formContainer > div {
  width: 100%;
}

.formContainer > div > div {
  width: 100%;
}

.formContainer > div > div > input {
  width: 85%;
}

.valid {
  margin-bottom: 31px;
}

.invalid {
  margin-bottom: -11px;
}

.formContainer {
  position: relative;
  z-index: 0;
}

.buttonsContainer {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  max-width: fit-content;
  top: 12px;
  right: 0;
  transform: translate(0, 0);
  transition: transform 0.2s ease-in-out;
  z-index: -2;
}

.buttonsContainerActive {
  z-index: -1;
  opacity: 1;
  transform: translate(100%, 0);
}