.container {
  max-width: 600px;
}

.title {
  color: #F2F2F3;
}

.tabs {
  display: flex;
}

.sectionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: overlay;
}

.link {
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
